<div id="Booking">
    <ng-container *ngIf="(currentMovie$ | async) as movie">
        <p class="select-your-seats-title">Select your seats</p>
        <div class="content-wrapper">
            <div class="movie-info-wrapper">
                <div class="img-wrapper">
                    <img [src]="movie.imgUrlVertical" alt="movie-image">
                </div>
                <div class="movie-info">
                    <p class="movie-name">{{movie.name}}</p>
                    <p class="movie-description">{{movie.description}} </p>
                    <p class="showtime"><span class="title">Showtime:</span>
                        {{(currentRouteParams$ | async)?.['showtime']}} </p>
                    <p class="hall-size"><span class="title">Hall Size:</span> {{(hallInfo$|async)?.hallSize}}</p>
                    <p class="actors"><span class="title">Actors:</span> {{movie.actors}} </p>
                </div>
            </div>


            <div class="booking-section">
                <div class="screen-wrapper">
                    <div class="screen"></div>
                    <p class="screen-title">S C R E E N</p>
                </div>
                <div class="seats-wrapper">
                    <app-seats (selectedSeatsEvent)="updateSeatsBooked($event)"></app-seats>
                </div>


                <div class="entrances-wrapper">
                    <div class="entrance">
                        <p>Entrance 1</p>
                    </div>
                    <div class="entrance">
                        <p>Entrance 2</p>
                    </div>
                </div>
                <div class="number-of-seats-selected">{{seatsBooked.length}} seat<span
                        *ngIf="seatsBooked.length > 1">(s)</span> selected</div>
                <button class="book-seats-btn" [disabled]="seatsBooked.length === 0" (click)="makeBooking()">Book
                    seats</button>
            </div>
        </div>
    </ng-container>
</div>