<div id="Movie-Item" (mouseenter)="onMouseEnter()" (mouseleave)="onMouseLeave()"
    [style.background-image]="'url('+movie.imgUrl+')'">
    <div class="opacity-film"></div>

    <div class="content-wrapper">
        <p class="movie-title">{{movie.name}}</p>
        <div class="title-underline"></div>
        <div class="movie-details-wrapper" [ngClass]="{'hovered':isHovered, 'not-hovered': !isHovered}">
            <p>{{movie.description}}</p>
            <button class="details-btn">More Details</button>
        </div>
    </div>
</div>