<div id="Accounts">
    <div class="contents-wrapper">
        <div class="nav-btns-wrapper">
            <button class="nav-to-sign-up-btn nav-btn" routerLink="./sign-up" [routerLinkActive]="['active-route']">
                Sign Up
            </button>
            <button class="nav-to-login-btn nav-btn" routerLink="./login" [routerLinkActive]="['active-route']">
                Log In
            </button>
        </div>
        <div class="outlet-wrapper">
            <router-outlet>
            </router-outlet>
        </div>
    </div>
</div>