@import "../../../../app.component.scss";

#Carousel {
    border: 2px solid red;
    overflow: scroll;
    height: 100%;


}

.slides {
    @include flexDisplay(row, false) {
        gap: 20px;
    }

    ;
}