#Movie-Page {
    background-color: beige;
    width: 100%;
    height: 100%;
    background-color: #252529;
    border: 2px solid red;
}

.movies-title {
    color: white;
    text-align: center;
    margin: 0;
    position: relative;
    top: 10px;
}