<div id="Admin">
    <button (click)="getUser()">Get User</button>
    <button (click)="login()">Local Login</button>
    <button (click)="logout()">Logout</button>
    <button (click)="logTokens()">Log Tokens</button>

    <!-- <img src="https://drive.google.com/uc?id=1E0Ue8xCF6T6IoqTmYSAskP2M9PkBMlZz&export=download" alt=""> -->
    <fieldset class="fieldset">
        <legend>RESET</legend>
        <label for="movie-name-reset">Movie Name</label>
        <select [(ngModel)]="movieName" name="movie-select" id="movie-select">
            <option *ngFor="let movie of movies" value="{{movie.name}}">{{movie.name}} </option>
        </select>
        <button class="reset-seats-booked-button function-button" (click)="resetSeatsBooked()">Reset seats
            booked</button>
    </fieldset>

    <fieldset class="fieldset">
        <legend>INSERT</legend>
        <label for="movie-name-insert">Movie Name</label>
        <input [(ngModel)]="movieNameToAdd" type="text" id="movie-name-insert">
        <label for="movie-time">Movie Time</label>
        <input [(ngModel)]="movieTime" type="text" id="movie-time">
        <label for="movie-seat-count">Number Of Seats</label>
        <input [(ngModel)]="movieSeatCount" type="number" max="20">
        <label for="movie-image">Movie Image</label>
        <input (change)="handleImageInput($event)" type="file" accept="image/*">
        <button (click)="addMovie()" class="function-button">Add Movie</button>
    </fieldset>

    <fieldset class="fieldset">
        <legend>DELETE</legend>
        <label for="movie-name-reset">Movie Name</label>
        <select [(ngModel)]="movieNameToDelete" name="movie-select" id="movie-select">
            <option *ngFor="let movie of movies" value="{{movie.name}}">{{movie.name}} </option>
        </select>
        <button class="function-button" (click)="deleteMovie()">Delete Movie</button>
    </fieldset>

    <div class="server-response-wrapper">
        <h2>Server response:</h2>
        <h3>{{serverResponse | json}} </h3>
    </div>
</div>