<div id="Seats">
    <h1>Seats</h1>

    <div [ngSwitch]="hallSize">
        <div class="small-hall-template hall-template" *ngSwitchCase="'SMALL'">
            <div class="five-seats-wrapper seats-wrapper" *ngFor="let i of getArrayTemplate(5); let rowId = index">
                <app-seat-item *ngFor="let s of getArrayTemplate(5); let columnId = index"
                    (selectedEvent)="bookOrUnbookSeat($event)" (selectedEvent)="emitSelectedSeats()"
                    [seatData]="{rowId: rowId+1 ,columnId:columnId+1, selected:false}">
                </app-seat-item>
            </div>
        </div>

        <div class="medium-hall-template hall-template" *ngSwitchCase="'MEDIUM'">
            <div class="ten-seats-wrapper seats-wrapper" *ngFor="let i of getArrayTemplate(5); let rowId = index">
                {{rowId + 1}}
                <app-seat-item *ngFor="let s of getArrayTemplate(10); let columnId = index"
                    (selectedEvent)="bookOrUnbookSeat($event)" (selectedEvent)="emitSelectedSeats()"
                    [seatData]="{rowId: rowId+1 ,columnId:columnId+1, selected:false}">
                </app-seat-item>
                {{rowId + 1}}
            </div>
        </div>
    </div>
    <!-- <div class="ten-seats-wrapper">
        <app-seat-item *ngFor="let i of tenSeatsArrayTemplate"></app-seat-item>
    </div>

    <div class="two-seats-wrapper">
        <app-seat-item *ngFor="let i of twoSeatsArrayTemplate"></app-seat-item>
    </div> -->

</div>