@import '../../../../../mixins';

#Seats {
    // border: 2px solid green;
    @include flexDisplay(column, false);
}

.hall-template {
    height: 100%;

    @include flexDisplay(column, false) {
        gap: 10px;
    }

    ;

    .seats-wrapper {

        @include flexDisplay(row, false) {
            justify-content: center;
            gap: 25px;
        }

        ;
    }
}