<div id="User-Account">
    <p class="your-account-title">Your Account</p>
    <ng-container *ngIf="(userProfile$ | async) as user; else loadingBlock">
        <div class="user-info-wrapper">
            <div class="user-info">
                <p class="title">
                    Username
                </p>
                <p class="username">{{user.username}} <mat-icon class="icon">edit</mat-icon></p>
            </div>

            <div class="user-info">
                <p class="title">
                    Password
                </p>
                <p class="username">we don't know <mat-icon class="icon">edit</mat-icon></p>
            </div>

            <div class="user-info">
                <p class="title">
                    Firstname
                </p>
                <p class="firstname">{{user.firstname}} <mat-icon class="icon">edit</mat-icon></p>
            </div>

            <div class="user-info">
                <p class="title">
                    Lastname
                </p>
                <p class="firstname">{{user.lastname}} <mat-icon class="icon">edit</mat-icon></p>
            </div>

            <div class="user-info">
                <p class="title">
                    Age
                </p>
                <p class="firstname">{{user.age}} <mat-icon class="icon">edit</mat-icon></p>
            </div>

            <div class="user-info">
                <p class="title">
                    Birthday
                </p>
                <p class="firstname">{{user.birthday | date:"dd MMMM, yyyy"}} <mat-icon class="icon">edit</mat-icon></p>
            </div>
        </div>
    </ng-container>

    <ng-template #loadingBlock>
        <h1>Fetching data...</h1>
    </ng-template>
</div>