<div id="User-Account">
    <p class="your-account-title">Your Account</p>
    <ng-container *ngIf="(userProfile$ | async) as user; else loadingBlock">
        <div class="user-info-wrapper">
            <div class="user-info">
                <p class="title">
                    Username <mat-icon class="icon">edit</mat-icon>
                </p>
                <p class="username">{{user.username}}</p>
            </div>

            <div class="user-info">
                <p class="title">
                    Password <mat-icon class="icon">edit</mat-icon>
                </p>
                <p class="username">we don't know it either</p>
            </div>

            <div class="user-info">
                <p class="title">
                    Firstname <mat-icon class="icon">edit</mat-icon>
                </p>
                <p class="firstname">{{user.firstname}}</p>
            </div>

            <div class="user-info">
                <p class="title">
                    Lastname <mat-icon class="icon">edit</mat-icon>
                </p>
                <p class="firstname">{{user.lastname}}</p>
            </div>

            <div class="user-info">
                <p class="title">
                    Age <mat-icon class="icon">edit</mat-icon>
                </p>
                <p class="firstname">{{user.age}}</p>
            </div>

            <div class="user-info">
                <p class="title">
                    Birthday <mat-icon class="icon">edit</mat-icon>
                </p>
                <p class="firstname">{{user.birthday | date:"dd MMMM, yyyy"}}</p>
            </div>
        </div>
    </ng-container>

    <ng-template #loadingBlock>
        <h1>Fetching data...</h1>
    </ng-template>
</div>