<div id="Slide">
    <div class="first-section">
        <h1 class="title">{{slide?.name}}</h1>
        <h2 class="desc">{{slide?.description}}</h2>
    </div>
    <div class="second-section">
        <div class="showtimes">
            <h1 class="showtimes-title">Showtimes</h1>
            <p class="showtime" *ngFor="let s of slide?.showtimes">{{s}} </p>
        </div>
        <div class="movie-info-wrapper">
            <div class="movie-img-wrapper">
                <img class="movie-img" [src]="slide?.imgUrlHorizontal " alt="movie-image">
            </div>
            <p class="actors">Actors: <span class="actors" *ngFor="let actor of slide?.actors; let i = index">
                    <ng-container *ngIf="!checkLastElement(i,slide?.actors!); else lastActor">
                        {{actor | wordSpacing: ', '}}
                    </ng-container>
                    <ng-template #lastActor>
                        {{actor}}
                    </ng-template>
                </span></p>
        </div>
    </div>
</div>