<div id="Slide">
    <div class="first-section">
        <h1 class="title">{{slide.title}}</h1>
        <h2 class="desc">{{slide.desc}}</h2>
    </div>
    <div class="second-section">
        <div class="showtimes">
            <!-- <h1 class="showtimes-title">Showtimes</h1> -->
            <p class="showtime">13:00</p>
            <p class="showtime">15:00</p>
            <p class="showtime">17:00</p>
        </div>
        <div class="movie-info-wrapper">
            <img class="movie-img" [src]="slide.url" alt="movie-image">
            <p class="actors">Lorem ipsum, Lorem ipsum, Lorem ipsum</p>
        </div>
    </div>
</div>