@import '../../../../mixins';

#Slide {
    max-height: 100%;
    color: white;
    max-width: 100%;
}

.first-section {
    .title {
        font-size: 2.8rem;
    }

    .desc {
        font-size: 1.3rem;
        font-weight: 100;
    }
}

.second-section {
    @include flexDisplay(row, false) {
        justify-content: space-evenly;
        gap: 100px;
    }

    ;
    // border: 2px solid red;

    .playtimes-title {
        text-align: center;
        font-size: 1.4rem;
    }

    .playtime {
        text-align: center;
    }

    .movie-img-wrapper {
        @include flexDisplay(row, true);

        .movie-img {
            width: 300px;
            height: auto;
        }
    }

    .movie-info-wrapper {

        .actors {
            text-align: center;
        }
    }
}

@media screen and (max-width: 510px) {
    .first-section {
        .title {
            text-align: center;
        }
    }

    .second-section {
        @include flexDisplay(column, false) {
            justify-content: space-evenly;
            gap: 30px;
        }
    }

    .movie-img {
        max-width: 80%;
        height: auto;
        align-self: center;
    }
}