@import '../../../../mixins';

#Slide {
    max-height: 100%;
    color: white;
    max-width: 100%;
}

.first-section {
    .title {
        font-size: 2rem;
    }

    .desc {
        font-size: 1.3rem;
        font-weight: 100;
    }
}

.second-section {
    // border: 2px solid lightgreen;

    @include flexDisplay(row, false) {
        justify-content: space-evenly;
    }

    ;

    .showtimes {
        text-align: center;
    }

    .movie-img-wrapper {
        @include flexDisplay(row, true);

        .movie-img {
            width: 300px;
            height: auto;
        }
    }

    .actors {
        text-align: center;
    }
}

@media screen and (max-width: 510px) {
    .second-section {
        @include flexDisplay(column, false) {
            justify-content: space-evenly;
        }
    }

    .movie-img {
        max-width: 80%;
        height: auto;
        align-self: center;
    }


}