@import '../../../mixins';

#User-Profile {
    color: white;
    border: 2px solid red;
}


.your-bookings-title {
    font-size: 2rem;
    font-weight: 600;
}

.booked-movies-wrapper {
    @include flexDisplay(column, false);
    border: 2px solid yellow;


    .booked-movie {
        border: 2px solid red;
    }
}