<div id="User-Profile">
    <ng-container *ngIf="(userProfile$ | async) as user">
        <div class="user-info">
            <p>Welcome {{user.username}}</p>
            <p>Firstname: {{user.firstname}}</p>
            <p>Lastname: {{user.lastname}}</p>
            <p>Birthday: {{user.birthday | date:'dd MMMM, yyyy'}}</p>
            <p>Age: {{user.age}} </p>
        </div>
    </ng-container>

    <ng-container *ngIf="(userBookings$|async) as userBooking">
        <div class="booked-movies-wrapper">
            <h1>User Bookings</h1>
            <div class="booked-movie" *ngFor="let booking of userBooking">
                <p>{{booking.movie.name}}</p>
                <p>{{booking.hall.showtime}} </p>
            </div>
        </div>
    </ng-container>
</div>