<div id="Movie-Detail">
    <ng-container *ngIf="(selectedMovie$ | async) as movie">
        <p class="movie-name">{{movie.name}} </p>

        <div class="content-wrapper">
            <div class="movie-info">
                <p class="desc">{{movie.description}}</p>
                <div class="actors-and-genres-wrapper">
                    <div class="actors">
                        <p class="actor" *ngFor="let actor of movie.actors; let i = index">
                            {{actor}}
                        </p>
                    </div>
                    <div class="genres">
                        <p class="genre" *ngFor="let genre of movie.genres">{{genre}} </p>
                    </div>
                </div>
            </div>

            <div class="img-wrapper">
                <img [src]="movie.imgUrlVertical" alt="">
            </div>
        </div>
        <div class="showtimes-wrapper">
            <p class="showtimes-title">Showtimes</p>
            <ul class="showtimes">
                <li class="showtime" routerLink="/movies/booking/{{movie.id}}/{{showtime}}"
                    *ngFor="let showtime of movie.showtimes">
                    {{showtime}} </li>
            </ul>
        </div>
    </ng-container>
</div>