<div id="Movie-Detail">
    <ng-container *ngIf="(selectedMovie$ | async) as movie">
        <p class="movie-name">{{movie.name}} </p>

        <div class="desc-and-img-wrapper">
            <div class="desc">
                {{movie.description}}
            </div>

            <div class="img-wrapper">
                <img [src]="movie.imgUrl" alt="">
            </div>
        </div>
        <div class="showtimes-wrapper">
            <p class="showtimes-title">Showtimes</p>
            <ul class="showtimes">
                <li class="showtime" routerLink="/movies/booking/{{movie.id}}/{{showtime}}"
                    *ngFor="let showtime of movie.showtimes">
                    {{showtime}} </li>
            </ul>
        </div>
    </ng-container>
</div>