$header-height: 70px;
$header-left-and-right-padding: 20px;

#App {
    width: 100%;
    height: calc(100% - $header-height);
}

.header {
    height: $header-height;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 0 $header-left-and-right-padding;
    border-bottom: 3px solid white;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1.2em;
}

.cinema-name-title-wrapper {
    display: flex;

    .cinema-name-title {
        align-self: center;
        font-weight: 600;
        cursor: pointer;
        transition: all 300ms ease-in-out;

        &:hover {
            color: #ffa200;
            // text-shadow: 0px 0px 5px #ff7300;
        }
    }
}

.nav-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-right: 20px;

    .nav {
        cursor: pointer;
        font-weight: 600;
        transition: color 300ms ease-in-out;

        &:hover {
            color: #ffa200;
        }
    }
}

.active-link {
    color: #ffa200;
}