#App {
    width: 100%;
    height: 100%;
    background-color: beige;
    position: relative;
}

.main-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.header {
    position: absolute;
    width: 100%;
    border: 2px solid lightgreen;
    z-index: 1; //this is needed
    margin: 25px 0px 0px 25px;
}

.cinema-booking-system-title {
    margin: 0px;
    font-size: 2.5em;
    text-shadow: none;
    font-weight: bolder;

    .beautify {
        background-image: linear-gradient(to right, #f62929, #e84949, #f3a64e, #f18509);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}