<div id="App">
    <header *ngIf="!router.url.includes('home')">
        <div class="tab main-tab-title" routerLink="/home">
            <!-- <p class="cinema-booking-system-title"><span class="beautify">Cinema Express</span></p> -->
        </div>
    </header>
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>

    <footer class="footer">
        <p>Created by @zachlee12 during his free time.</p>
        <object class="github-icon" data="../assets/images/web-technology/github.svg" type="image/svg+xml"></object>
    </footer>
</div>