<div id="App">
    <header class="header">

        <div class="tab main-tab-title">
            <p class="cinema-booking-system-title"><span class="beautify">Cinema Express</span></p>
        </div>

        <div class="tab">
            <p class="tab-title" routerLink="/accounts/login">Log In</p>
        </div>
    </header>
    <main class="main-content">
        <router-outlet></router-outlet>
    </main>

    <footer class="footer">
        <p>Created by @zachlee12 during his free time.</p>
        <object class="github-icon" data="../assets/images/github.svg" type="image/svg+xml"></object>
    </footer>
</div>