$header-height: 70px;
$header-left-and-right-padding: 20px;

#App {
    width: 100%;
    height: calc(100% - $header-height);
}

.header {
    height: $header-height;
    display: flex;
    background-color: black;
    color: white;
    justify-content: space-between;
    padding: 0 $header-left-and-right-padding;
    // border-bottom: 3px solid white;
    box-sizing: border-box;
    font-weight: 600;
    font-size: 1.2em;
    position: relative;

}