#Confirmation {
    width: 100%;
    height: 100%;
    background-image: url('../../../../assets/images/confirmation-background.png');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    color: white;
}

.confirmation-title {
    margin: 0;
}


.confirmation-content-wrapper {
    margin: auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.back-to-homepage-button {
    margin: 20px;
    width: 50%;
    height: 40px;
    font-size: 1.1em;
    transition: all 300ms ease-in-out;
    background-color: white;
    border: 2px solid black;
    font-weight: 600;

    &:hover {
        background-color: black;
        color: white;
        border: 2px solid white;
    }
}