<div id="MainPage">
    <div class="opacity-film"></div>
    <div class="content-wrapper">
        <p class="cinema-booking-system-title"><span class="beautify">Cinema Plus</span></p>
        <p class="group-title">Group 4</p>
        <p class="group-name-title">Halim • Hana • Dylan • Zach</p>
        <button class="get-started-button" routerLink="/movie-page">Get Started</button>
    </div>

    <video autoplay muted loop class="movie-video">
        <source src="../../../assets/videos/elemental-fast-audio.mp4" type="video/mp4">
    </video>
</div>