$netflix-red: #e50914;


@font-face {
    font-family: 'Roboto';
    src: url('../../../assets/fonts/Roboto-Bold.ttf');
}

#MainPage {
    width: 100%;
    height: 100%;
    display: flex;
    position: relative;
}

.opacity-film {
    position: absolute;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100%;
    z-index: 1;
}

.movie-video {
    width: 100%;
    height: 100%;
    position: absolute;
    object-fit: cover;
    z-index: 0;
}


.content-wrapper {
    margin: auto;
    // background-color: rgba(128, 128, 128, 0.7);
    padding: 50px;
    text-shadow: 3px 3px 3px black;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto';
    font-size: 1.4em;
    color: white;
    z-index: 1;

    .cinema-booking-system-title {
        margin-bottom: 40px;
        font-size: 2.5em;
        text-align: center;
        text-shadow: none; //override!
        font-weight: bolder;

        .beautify {
            background-image: linear-gradient(to right, #f62929, #e84949, #f3a64e, #f18509);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
        }

    }

    .group-title {
        margin-bottom: 20px;
        text-align: center;
        margin: 0;
    }

    .group-name-title {
        text-align: center;
    }
}

.cinema-booking-system-title {
    margin: 0;
}

.get-started-button {
    align-self: center;
    padding: 15px;
    width: 300px;
    font-size: 1.3em;
    font-weight: 600;
    transition: all 400ms ease-in-out;
    background-color: $netflix-red;
    color: white;
    border-radius: 7px;
    border: 2px solid black;

    &:hover {
        background-color: #ff6c37;
        box-shadow: 0px 0px 15px 5px #f28a64;
        transform: translate(-2px, -2px);
        color: white;
    }

}