#MainPage {
    background-color: beige;
    width: 100%;
    height: 100%;
    background-image: url('../../../assets/mainpage-background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
}

.content-wrapper {
    margin: auto;
    background-color: rgba(128, 128, 128, 0.7);
    padding: 50px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

}

.cinema-booking-system-title {
    margin: 0;
}

.go-to-movies-button {
    align-self: center;
    padding: 15px;
    width: 300px;
    font-size: 1.5em;
    transition: all 400ms ease-in-out;
    background-color: white;
    border: 2px solid black;
    font-weight: 600;

    &:hover {
        background-color: black;
        border: 2px solid white;
        color: white;
    }

}