@mixin flexDisplay($direction: row, $centerContents: false) {
    display: flex;
    flex-direction: $direction;

    @if($centerContents) {
        align-items: center;
        justify-content: center;
    }

    @content
}

#Sign-Up {
    background-color: aliceblue;
    width: 100%;
    height: 100%;
    @include flexDisplay(column, true)
}

.sign-up-form {
    @include flexDisplay(column, false) {
        justify-content: space-evenly
    }

    ;
    border: 2px solid black;
    height: 400px;

    .wrapper {
        @include flexDisplay(column, false)
    }
}