<div id="Sign-Up">
    <form class="sign-up-form" [formGroup]="signUpForm">
        <div class="wrapper">
            <input type="text" id="firstname" formControlName="firstname">
            <label class="label" for="firstname">Firstname</label>
        </div>

        <div class="wrapper">
            <input type="text" id="lastname" formControlName="lastname">
            <label class="label" for="lastname">Lastname</label>
        </div>

        <div class="wrapper">
            <input type="text" id="username" formControlName="username">
            <label class="label" for="username">Username</label>
        </div>

        <div class="wrapper">
            <input type="password" id="password" formControlName="password">
            <label class="label" for="password">Password</label>
        </div>

        <div class="wrapper">
            <input type="date" id="birthday" formControlName="birthday">
            <label class="label-birthday " for="birthday">Birthday</label>
        </div>
        <button class="sign-up-btn" (click)="signUp()">Sign Up</button>
    </form>

</div>