$netflix-red: #e50914;

@mixin flexDisplay($direction: row, $centerContents: false) {
    display: flex;
    flex-direction: $direction;

    @if $centerContents {
        justify-content: center;
        align-items: center;
    }

    @content
}

@font-face {
    font-family: 'Roboto';
    src: url('../../../../../assets/fonts/Roboto-Black.ttf');
}

#MainPage {
    width: 100%;
    height: 100%;
    border: 2px solid blue;
    box-sizing: border-box;

}

section.main {
    width: 100%;
    height: 600px;
    // border: 2px solid red;
    position: relative;
    background-image: url("../../../../../assets/images/background.webp");
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom: 8px solid rgb(96, 96, 96);

    .opacity-wrapper {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        background: radial-gradient(ellipse at center, transparent, black 95%);
        opacity: 0.8;
    }
}