<div id="MainPage">
    <header class="header">

        <div class="tab main-tab-title">
            <p class="cinema-booking-system-title"><span class="beautify">Cinema Express</span></p>
        </div>

        <div class="nav-tabs">
            <div class="tab" routerLink="/movies">
                <p class="tab-title">Movies</p>
            </div>
            <div class="tab" routerLink="/accounts/login">
                <p class="tab-title">Log In</p>
            </div>
        </div>
    </header>

    <div class="spacing-for-main">
        <ng-container *ngFor="let obj of backgroundImgSrcs; let index;">
            <section *ngIf="obj.display" @fadeIn @fadeOut class="main" [style.background-image]="'url('+obj.src+')'">
                <div class="opacity-wrapper"></div>
            </section>
        </ng-container>
    </div>

    <section class="promotion-section">
        <p class="promotion-title">More than just frames on screens.</p>
        <p class="promotion-title">The Cinema with <span class="style-word">Style</span>.</p>
        <div class="wrapper">
            <ul class="benefits">
                <li class="benefit"><span class="emoji">⚡</span> Lightning fast confirmation</li>
                <br>
                <li class="benefit"><span class="emoji">🧩</span> Digital tickets out-of-the-box</li>
                <br>
                <li class="benefit"><span class="emoji">✨</span> Cancel anytime. No Commitments</li>
            </ul>

            <img class="computer-svg" src="../../../../../assets/images/video-camera.svg" alt="computer">
        </div>
    </section>

    <section class="carousel-section">
        <app-carousel></app-carousel>
    </section>

    <section class="third-section">
        <p class="tech-stack-title">Built with Your Favourite Tools</p>
        <app-tiles></app-tiles>
    </section>
</div>